// import fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    background-color: $backgroundColor;
}